{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "import",
    "simple-import-sort",
    "@typescript-eslint",
    "@typescript-eslint/tslint",
    "prettier"
  ],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": "*", "next": "block-like" },
      { "blankLine": "always", "prev": "block-like", "next": "*" },
      { "blankLine": "never", "prev": "case", "next": "default" },
      { "blankLine": "never", "prev": "case", "next": "case" },
      { "blankLine": "any", "prev": "*", "next": "break" },
      { "blankLine": "always", "prev": "*", "next": ["const", "let", "var"] },
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      { "blankLine": "any", "prev": ["const"], "next": ["const"] },
      { "blankLine": "any", "prev": ["let"], "next": ["let"] }
    ]
  }
}
