.cell {
  width: 150px;
  border: 1px solid var(--border-color);
  border-left: none;
  border-top: none;
  word-break: break-word;
  min-width: 150px;
  overflow: hidden;
  box-sizing: border-box;
  vertical-align: middle;
}

.cellContainer {
  display: flex;
  justify-content: inherit;
  align-items: center;
  min-height: var(--table-min-cell-height);
}
