.table {
  width: 90%;
  height: 600px;
}

.header {
  background: #fafafa;
  padding: 10px 5px;
  color: #9b9b9b;
  text-align: center;
  justify-content: center;
}

.body {
  background: #ffffff;
  padding: 10px 5px;
  text-align: right;
  justify-content: flex-end;
}

.total {
  font-weight: bold;
}
