.table {
  width: 90%;
  height: 600px;
}

.header {
  background: #fafafa;
  padding: 10px 5px;
  color: #9b9b9b;
  text-align: center;
  justify-content: center;
}

.body {
  background: #ffffff;
  padding: 10px 5px;
  text-align: right;
  justify-content: flex-end;
}

.total {
  font-weight: bold;
}

.collapse {
  border-radius: 50%;
  border: none;
  position: relative;
  color: #9b9b9b;
}

.collapse::after {
  content: '>';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
